.container {
  margin: 20px auto;  
}

.title {
  text-align: center;
  padding-bottom: 20px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: calc(100% - 64px - 8px);
}

.table-container {
  margin: 20px auto;
}

.todo-list {
  list-style-type: none;
  margin: 0;
  padding: 30px 15px;
}

.todo {
  display: flex;
  align-items: center;
}

.todo:not(:last-child) {
  margin-bottom: 10px;
}



